.accordion-details-single-block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  padding: 11px 15px;
}

.accordion-details-single-block {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  min-width: 12%;
}

.accordion-details-single-block-first-level {
  width: 15% !important;
}

.accordion-details-threshold-block {
  display: flex;
  flex-direction: row;
  row-gap: 4px;
}

.threshold-row {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.accordion-details-date-block {
  display: flex;
  flex-direction: row;
  row-gap: 5px;
  width: 15%;
}

.accordion-details-date-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-right: 15px;
}

.threshold-input {
  width: 30%;
}
