:root {
  --header-height: 73px;
}

.outer-container {
  background-color: #efefef;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  border-bottom: solid 1px #dee0e7;
}

.user-fullname {
  font-weight: 700;
}

.select-logout-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header-icon {
  height: 24px;
  width: 24px;
}

.header-healthproof-logo {
  height: 35px;
  width: auto;
  margin-left: 20px;
  margin-right: 50px;
}

.title-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
  column-gap: 10px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #5f6062;
}

.menu-item {
  padding: 10px 14px 10px 14px;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
}

.menu-item:hover {
  cursor: pointer;
  color: white;
  background: #002e33;
}

.icon-group {
  display: flex;
  align-items: center;
  padding-right: 20px;
  column-gap: 40px;
}

.menu-item-selected {
  background: #04636d;
  color: white;
}
