.table-wrapper {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow: auto;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
}

.table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: left;
  white-space: nowrap;
  font-weight: 500;
  font-size: 12px;
}

.table tr {
  height: 72px;
}

.table td {
  white-space: pre-wrap;
  padding: 0px 12px;
}

.table tr:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.table tr td:first-of-type {
  background-color: #e5e5e5;
  border-bottom: 1px solid #f7f7f7;
}

.chip-img {
  width: 16px;
  height: 16px;
}

.acc {
  height: 72px;
  padding: 0px 24px;
}

.date-picker {
  height: 72px;
}
