:root {
  --footer-height: 50px;
}

.outer-container {
  background-color: #fcfcfc;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-top: solid 1px #dee0e7;
  font-weight: 700;
}
