:root {
  /* Colors */

  /* Primary colors */
  --Primary-Nordic: #002e33;
  --Primary-Aqua-Marine: #00d6b8;
  --Primary-White: #ffffff;

  /* Secondary colors */
  --Secondary-Aqua-Obscura: #04636d;
  --Secondary-Fountain-Blue: #56bab9;
  --Secondary-Aero-Blue: #ccf7ed;
  --Secondary-Mint-Cream: #f2fbf9;
  --Secondary-Dawn: #f2ece8;

  /* Accent colors */
  --cobalt-blue-shade-01: #0072c3;
  --cobalt-blue-shade-02: #1192e8;
  --cobalt-blue-shade-03: #82cfff;
  --cobalt-blue-shade-04: #bae6ff;
  --majestic-purple-shade-01: #8a3ffc;
  --majestic-purple-shade-02: #a56eff;
  --majestic-purple-shade-03: #d4bbff;
  --majestic-purple-shade-04: #e8daff;
  --crimson-maroon-shade-01: #9f1853;
  --crimson-maroon-shade-02: #c2407d;
  --crimson-maroon-shade-03: #f2aacd;
  --crimson-maroon-shade-04: #ffd2e8;

  /* Neutral colors */
  --Neutral-colors-Black: #000000;
  --Neutral-colors-Grey-1: #4b4b4b;
  --Neutral-colors-Grey-2: #afafaf;
  --Neutral-colors-Grey-3: #e5e5e5;
  --Neutral-colors-Grey-4: #f7f7f7;
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* Font Family */

@font-face {
  font-family: 'Manrope';
  src:
    local('Manrope'),
    url(../assets/fonts/manrope-variablefont-wght.ttf) format(truetype);
}

/* NOTE: For applying this font globally */
/* * {
  font-family: Manrope, 'Helvetica', 'Arial', sans-serif;
} */

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

/* Scrollbar styles */

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #002e3329;
}

/* scrollbar:hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #cccdd3;
}

/* scrollbar:focus */
::-webkit-scrollbar-thumb:focus {
  background-color: #cccdd3;
}

/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
