@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url(./assets/fonts/Manrope-VariableFont_wght.ttf) format(truetype);
}

body {
  margin: 0;
  font-family: Manrope;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #dee0e7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cccdd3;
}

::-webkit-scrollbar-thumb:focus {
  background-color: #cccdd3;
}
