.outer-container {
  overflow: auto;
  padding: 10px;
  height: calc(100vh - 145px);
  width: calc(100% - 20px);
}

.view-files-main-name {
  font-weight: 700;
  font-size: 32px;
}

.file-upload-text {
  font-weight: 700;
  font-size: 24px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  width: 24px;
  height: 24px;
}

.table {
  width: 100%;
  border-spacing: 0px 11px;
  background-color: transparent;
  text-align: left;
  white-space: nowrap;
}

.table-head tr {
  background-color: #f4f4f4;
  outline: 1px solid black;
  height: 66px;
}

.table-body tr {
  outline: 1px solid black;
  border-radius: 4px;
  height: 91px;
}

.table-body td,
.table-head th {
  padding: 0px 28px;
}

.actions-container {
  display: flex;
  align-items: center;
  column-gap: 31px;
}

.actions-icon-text-wrapper {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.upload-container {
  display: flex;
  align-items: center;
  column-gap: 16px;
  cursor: pointer;
}

.upload-container-drag-active {
  background-color: #0000000a;
  outline: 1px dotted #3f3f3f;
}

.upload-drag-icon-text-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
