.text-wrapper {
 display: flex;
 flex-direction: column;
 row-gap: 5px;
 width: 100%; 
 height: auto;
}

.button-wrapper {
 display: flex;
 flex-direction: row-reverse;
 column-gap: 10px;
 margin-top: 20px;
 width: 95%;
 background-color: inherit;

}
.btn-save{
    background-color: #001349;
}
.btn-cancel{
    border-color: #001349 !important;
    color: #001349;
}
.btn-cancel:hover{
    border-color: #001349 !important;
    color: #001349;
    background-color: transparent;
}