.outer-container {
  background-color: aqua;
}

.sidemenu-icon-container {
  cursor: pointer;
}

.toggle-drawer-icon {
  transition: 0.35s;
}

.toggle-drawer-icon-close {
  transform: rotate(180deg);
}

.sidemenu-wrapper {
  height: 100%;
  background-color: #0097ac;
  padding: 0px 5px;
}

.logo-container {
  text-align: center;
  margin: 20px 0px;
}

.sidemenu-adv-logo {
  height: 50px;
}

.divider-line-container {
  margin-bottom: 20px;
}

.accordion-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 120px);
  padding: 0px 5px;
  min-width: 280px;
}

.accordion-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
}

.accordion-summary-icon {
  transition: 0.35s;
}

.accordion-summary-icon-expanded {
  transform: rotate(180deg);
}

.accordion-details-option-container {
  padding: 0px 10px;
  white-space: wrap;
}

.accordion-details-option-pointer {
  white-space: nowrap;
  font-weight: 700;
}

.accordion-details-option-selected {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #262b68;
}

.dashboard-text {
  color: white;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  padding-left: 22px;
  display: flex;
  align-items: center;
}

.dashboard-text:hover {
  font-weight: 700;
  letter-spacing: -0.5px;
  cursor: pointer;
}

.dashboard-text-selected {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #262B68;
}