.lookup-master-form-control {
  width: 50%;
}

.lookup-master-select {
  width: 100%;
  color: #333333;
}

.lookup-master-form-control-lookup {
  width: 100%;
}

.lookup-master-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.lookup-master-table thead,
.lookup-master-table td,
.lookup-master-table th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

/* thead {
 background-color: #f2f2f2;
} */

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lookup-master-add-icon {
  width: 10px;
  height: 10px;
}

.lookup-master-form-control-lookup-type {
  height: 36px;
}

.lookup-master-main-container {
  padding: 8px;
  height: calc(100vh - 142px);
  overflow-y: auto;
  padding: 10px;
}

.lookup-master-table {
  margin-bottom: 8px;
}
