.upload-market-analysis-outer-container {
  background-color: #282c34;
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.upload-market-analysis-container {
  background-color: #f2f2f2;
  padding: 20px 60px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  height: 350px;
  width: 500px;
}

.upload-market-analysis-title {
  color: #333333;
  font-size: 24px;
  margin: 0px;
}

.upload-market-analysis-form-control {
  width: 100%;
}

.upload-market-analysis-select {
  width: 100%;
  color: #333333;
}

.upload-market-analysis-dropzone {
  width: 100%;
  height: 150px;
  border: 2px dashed #1976d2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.upload-market-analysis-dropzone-text {
  text-align: center;
  padding: 0px 70px;
  color: #000;
  font-family: "Poppins", Arial, sans-serif;
}

.upload-market-analysis-uploadedfile {
  text-align: center;
  color: #000;
  font-family: "Poppins", Arial, sans-serif;
}

.upload-market-analysis-upload-button {
  width: 100%;
  background-color: #1976d2;
  color: #f2f2f2;
  border-radius: 5px;
  font-family: "Poppins", Arial, sans-serif;
}

.upload-market-analysis-upload-button:hover {
  background-color: #1565c0;
}

.upload-market-analysis-icon {
  color: #1565c0;
  display: flex;
  justify-content: center;
  align-items: center;
}
