.inner-container {
  display: flex;
  height: calc(100vh - 227px);
  overflow: hidden;
  background-color: hsl(0, 1%, 84%);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #ffffff;
}

.sidepanel-section {
  width: 20%;
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 24px;
  margin: 0.5%;
}

.content-section {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #ffffff;
  width: 80%;
  align-items: center;
  padding: 20px;
  border-radius: 24px;
  margin: 0.5%;
}

.main-name {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h3 {
  margin-right: 10px;
}

.content-body-section {
  width: 100%;
}

.content-container {
  padding-left: 5px;
  margin-bottom: 20px;
}

.measure-year-datepicker {
  display: flex;
  align-items: right;
}

.icon-view-activity {
  padding-left: 5px;
  height: 24px;
  width: 24px;
}
