.accordion-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap; 
}

.accordion-summary-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  white-space: nowrap;
  border-top: solid 1px #DEE0E7;
  margin: 0 auto;
}

.accordion-summary-icon {
  transition: 0.35s;
}

.accordion-summary-icon-expanded {
  transform: rotate(180deg);

}

.accordion-summary-icon-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.accordion-summary-name {
  font-weight: 700;
}