.outer-container {
  overflow: auto;
  padding: 10px;
  height: calc(100vh - 142px);
  width: calc(100% - 20px);
}

.view-files-main-name {
  margin: 0px;
}

.header-container {
  display: flex;
  column-gap: 100px;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  width: 24px;
  height: 24px;
}

.view-files-table table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.view-files-table thead,
.view-files-table td,
.view-files-table th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

tr td:first-child {
  text-align: center;
}
