.text-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 20px;
}

.formatted-time {
  font-weight: 700;
}
